{% extends 'Sandbox/Layouts/layout1.html.twig' %}

{% block title %}{{ parent() }} : vue 3{% endblock %}
{# J'écrit un commentaire #}
{% block titre_principal %}Titre principal de la vue 3{% endblock %}
<!--J'écrit un autre commentaire-->
{% block vue %}
    <p>
        Le paragraphe du template <code>vue3.html.twig</code>
    </p>
{% endblock %}