{# template racine (niveau 1) pour TwigController #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sandbox{% endblock %}{# ici le bloc title #}</title>
</head>
<body>
<div id="vue">
    <h1>{% block titre_principal %}{% endblock %}{# ici le bloc titre_principal #}</h1>
    {% block vue %}{% endblock %}{# ici le bloc vue #}
</div>
</body>
</html>
